/* === breadcrumb Section === */
.breadcrumb {
    padding: 0;
    margin: 0;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #111111;
            mix-blend-mode: soft-light;

        }
    }


    &__content {
        z-index: 9;
        position: relative;
        padding-top: 250px;
        padding-bottom: 70px;

        @media #{$lg} {
            padding-top: 160px;
            padding-bottom: 100px;
        }

        @media #{$md} {
            padding-top: 130px;
            padding-bottom: 60px;
        }

        @media #{$xs} {
            padding-top: 110px;
            padding-bottom: 40px;
        }

    }

    &__sub-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 50px;
        color: var(--white);
        letter-spacing: -0.54px;

        @media #{$lg} {
            margin-bottom: 30px;
        }

        @media #{$md} {
            margin-bottom: 20px;
        }

        @media #{$xs} {
            margin-bottom: 10px;
        }
    }

    &__title {
        font-size: 130px;
        font-weight: 500;
        line-height: 105px;
        color: var(--white);
        letter-spacing: -6.5px;

        @media #{$lg} {
            font-size: 110px;
        }

        @media #{$md} {
            font-size: 90px;
            line-height: 90px;
        }

        @media #{$xs} {
            font-size: 60px;
            line-height: 60px;
            letter-spacing: -2px;
        }
    }
}

/* === about-us Section === */
.about-us__inner {
    .title {
        font-size: 50px;
        font-weight: 500;
        max-width: 1405px;
        line-height: 50px;
        color: var(--primary);
        letter-spacing: -2.5px;

        @media #{$lg} {
            font-size: 45px;
        }

        @media #{$md} {
            font-size: 40px;
        }

        @media #{$sm} {
            font-size: 35px;
            line-height: 40px;
        }

        @media #{$xs} {
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -1px;
        }
    }

    .about-us__wrapper {
        display: grid;
        gap: 50px 170px;
        margin-top: 130px;
        margin-left: 165px;
        grid-template-columns: 360px 1fr;

        @media #{$xl} {
            gap: 50px 120px;
        }

        @media #{$lg} {
            gap: 50px 80px;
            margin-left: 0;
            margin-top: 100px;
        }

        @media #{$lg} {
            gap: 50px 50px;
            margin-left: 0;
            margin-top: 80px;
            grid-template-columns: 300px 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }

        .about-us__box {
            .content {
                margin-top: 286px;

                @media #{$md} {
                    margin-top: 0;
                }

                .desc {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    max-width: 300px;
                    font-style: italic;
                    margin-bottom: 44px;
                    color: var(--secondary);
                    letter-spacing: -0.6px;

                    @media #{$sm} {
                        max-width: 100%;
                        margin-bottom: 30px;
                    }
                }

                .author {
                    padding-top: 17px;
                    border-top: 1px solid var(--border);

                    .name {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 20px;
                        color: var(--primary);
                        letter-spacing: -0.6px;

                        @media #{$md} {
                            font-size: 28px;
                        }
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                        display: inline-block;
                        line-height: 20px;
                        letter-spacing: -0.42px;
                        color: var(--secondary);
                    }
                }
            }

            .media {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                .title {
                    font-size: 30px;
                    max-width: 710px;
                    font-weight: 500;
                    line-height: 30px;
                    margin-top: 64px;
                    margin-bottom: 50px;
                    color: var(--primary);
                    letter-spacing: -1.5px;

                    @media #{$sm} {
                        margin-top: 30px;
                        max-width: 100%;
                    }

                    @media #{$sm} {
                        font-size: 25px;
                        letter-spacing: 0;
                    }
                }

                .rr-btn-primary {
                    padding: 13.5px 33px;
                }
            }
        }
    }
}

/* === experience Section === */
.experience {

    &__inner {
        border-top: 1px solid var(--border);
        padding-bottom: 30px;
    }

    .experience__wrapper {
        gap: 30px;
        display: flex;
        margin-top: 30px;
        max-width: 1548px;
        justify-content: space-between;

        @media #{$xs} {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__item {
        text-align: center;

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: var(--primary);
            letter-spacing: -0.48px;
        }

        .title {
            font-size: 250px;
            margin-top: 193px;
            font-weight: 400;
            line-height: 195px;
            color: var(--primary);
            letter-spacing: -7.5px;
            text-transform: uppercase;

            @media #{$xl} {
                font-size: 200px;
                margin-top: 150px;
                line-height: 150px;
            }

            @media #{$lg} {
                font-size: 120px;
                margin-top: 100px;
                line-height: 120px;
                letter-spacing: -5.5px;
            }

            @media #{$sm} {
                font-size: 100px;
                margin-top: 50px;
                line-height: 100px;
                letter-spacing: -5.5px;
            }

            @media #{$xs} {
                font-size: 80px;
                margin-top: 0px;
                line-height: 80px;
                letter-spacing: -2.5px;
            }
        }

        .odometer {
            font-family: var(--font_bai);
        }
    }
}

/* === feature Section === */
.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media #{$xs} {
        grid-template-columns: 1fr;
    }

    .feature__media {
        border-right: 1px solid var(--border);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .feature__box {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        background: var(--primary);

        @media #{$xxl} {
            justify-content: center;
        }

        @media #{$lg} {
            padding: 20px;
        }

        .thumb {
            margin-bottom: 100px;
            margin-top: 250px;

            @media #{$xxl} {
                margin-top: 0;
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .dedication {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            max-width: 255px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.48px;
        }
    }
}

/* === awarded Section === */
.awarded {

    .awarded__inner {
        display: grid;
        gap: 50px 160px;
        padding-left: 150px;
        padding-top: 115px;
        grid-template-columns: 650px 1fr;
        border-bottom: 1px solid var(--border);

        @media #{$xxl} {
            gap: 50px 100px;
            padding-left: 100px;
            padding-top: 115px;
            grid-template-columns: 500px 1fr;
        }

        @media #{$xl} {
            gap: 50px 50px;
            padding-left: 50px;
            padding-top: 115px;
            grid-template-columns: 440px 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            padding-left: 10px;
        }

        &.has--border {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 1;
                height: 100%;
                border-right: 1px solid var(--border);

                @media #{$xl} {
                    display: none;
                }
            }
        }
    }

    .awarded__content {
        padding-bottom: 70px;

        @media #{$lg} {
            margin-right: 20px;
            padding-bottom: 0;
        }
    }

    .awarded-title__wrapper {
        margin-bottom: 64px;

        .sub-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--primary);
            letter-spacing: -0.48px;
            position: relative;
            padding-left: 50px;


            &::before {
                content: '';
                left: 0;
                top: 50%;
                width: 40px;
                height: 1px;
                position: absolute;
                transform: translateY(-50%);
                background: var(--primary);
            }
        }

        .title {
            font-size: 50px;
            font-weight: 500;
            line-height: 50px;
            color: var(--primary);
            letter-spacing: -2.5px;

            @media #{$xs} {
                font-size: 40px;
                line-height: 40px;

            }
        }
    }

    .dedication {
        color: #555;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-top: 55px;
        max-width: 330px;
        letter-spacing: -0.48px;
    }

    .awarded__wrapper {
        .awarded__item {
            padding: 23px 0;
            border-top: 1px solid var(--border);

            &:last-child {
                border-bottom: 1px solid var(--border);
            }

            .title {
                gap: 10px;
                display: flex;
                font-size: 20px;
                flex-wrap: wrap;
                font-weight: 500;
                line-height: 22px;
                align-items: center;
                color: var(--primary);
                letter-spacing: -0.6px;
                justify-content: space-between;
            }
        }
    }

    .awarded__media {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* === about-team Section === */
.about-team__wrapper {
    gap: 30px;
    display: grid;
    grid-template-columns: 325px 1fr 355px;

    @media #{$xl} {
        grid-template-columns: 250px 1fr 355px;
    }

    @media #{$lg} {
        grid-template-columns: 150px 1fr 300px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }

    .about-team__box {
        display: flex;

        .sub-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: var(--primary);
            letter-spacing: -0.48px;
            position: relative;
            padding-left: 50px;


            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                background: var(--primary);
                left: 0;
                top: 50%;
            }
        }

        .team-list {
            list-style: none;

            li {
                gap: 10px;
                display: flex;
                align-items: end;

                color: #999;
                font-size: 50px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: -2.5px;

                @media #{$lg} {
                    font-size: 45px;
                }

                @media #{$xs} {
                    font-size: 28px;
                    line-height: 26px;
                    letter-spacing: -1.5px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                &.active {
                    color: var(--primary);
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: -0.48px;
                }
            }
        }

        .thumb {
            margin-top: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* === about-7 Section === */
.about-7 {
    &__wrap {
        overflow: hidden;
        position: relative;
    }

    &__content {
        position: relative;
    }

    &__title {
        font-size: 100px;
        font-weight: 500;
        max-width: 1290px;
        margin: 0 auto;
        line-height: 108px;
        text-align: center;
        color: var(--primary);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        font-family: var(--font_bai);

        @media #{$xl} {
            font-size: 90px;
            line-height: 100px;
        }

        @media #{$lg} {
            font-size: 75px;
            line-height: 85px;
        }

        @media #{$md} {
            font-size: 60px;
            line-height: 70px;
        }

        @media #{$sm} {
            font-size: 40px;
            line-height: 50px;
        }

        @media #{$xs} {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &__dec {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
        margin-top: 36px;
        margin-bottom: 39px;
        letter-spacing: -0.03em;
        font-family: var(--primary);

        @media #{$sm} {
            margin-top: 15px;
            margin-bottom: 25px;
        }

        @media #{$xs} {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    &__btn {
        text-align: center;

        .rr-btn-primary {
            gap: 8px;
            border-radius: 0;
            color: var(--white);
            padding: 15px 29.71px;
            background-color: var(--primary);

            i {
                font-weight: 400;
                color: var(--white);
                transform: rotate(-45deg);
            }

            .text {
                span {
                    color: var(--white);
                }
            }
        }
    }

    &__shape {
        position: absolute;

        span {
            left: 0;
            bottom: 0px;
            width: 363px;
            height: 725px;
            position: absolute;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            background: linear-gradient(179.73deg, rgba(255, 255, 255, 0) 66.86%, #FFFFFF 98.73%);
        }

        &-1 {
            left: 0;
            bottom: 40px;
        }

        &-2 {
            right: 0;
            bottom: 40px;

            span {
                right: 0;
            }
        }
    }
}

/* === about-8 Section === */
.about-8 {
    &__top {
        margin-bottom: 165px;

        @media #{$md} {
            margin-bottom: 100px;
        }

        @media #{$sm} {
            margin-bottom: 50px;
        }
    }

    &__main-title {
        font-size: 70px;
        font-weight: 500;
        line-height: 65px;
        max-width: 1618px;
        margin-bottom: 60px;
        color: var(--primary);
        letter-spacing: -0.05em;
        font-family: var(--font_bai);

        @media #{$xl} {
            font-size: 65px;
        }

        @media #{$lg} {
            font-size: 55px;
        }

        @media #{$md} {
            font-size: 50px;
            line-height: 60px;
        }

        @media #{$sm} {
            font-size: 45px;
            line-height: 55px;
            margin-bottom: 30px;
        }

        @media #{$xs} {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__btn {
        .rr-underline {
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 5px;
            text-transform: math-auto;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        // margin-bottom: 352px;
        margin-bottom: 30px;
        color: var(--primary);
        letter-spacing: -0.05em;
        font-family: var(--font_bai);

    }

    &__dec {
        font-size: 16px;
        font-weight: 500;
        max-width: 420px;
        line-height: 20px;
        margin-top: auto;
        letter-spacing: -0.03em;
        font-family: var(--font_bai);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media #{$lg} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__dec {
        margin-top: auto;
    }

    &__thumb {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item {
        padding: 30px;
        display: flex;
        border-right: 1px solid #DADADA;
        border-bottom: 1px solid #DADADA;

        @media #{$sm} {
            padding: 30px 0;
            border-right: none;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: 1px solid #DADADA;
        }

        &:nth-child(1) {
            padding-left: 0;

            @media #{$lg} {
                display: none;
            }
        }

        &:nth-child(3) {
            grid-column: span 2;
            border-right: none;
            padding-right: 0;

            @media #{$md} {
                grid-column: auto;
            }
        }

        &:nth-child(4) {
            padding-left: 0;

            @media #{$lg} {
                display: none;
            }
        }

        &:nth-child(7) {
            border-right: none;
            padding-right: 0;

            @media #{$lg} {
                display: none;
            }
        }

        &:nth-child(8) {
            padding-left: 0;

            @media #{$lg} {
                display: none;
            }
        }

        &:nth-child(11) {
            border-right: none;
            padding-right: 0;

            @media #{$lg} {
                display: none;
            }
        }

        &:nth-child(12) {
            grid-column: span 2;
            padding-left: 0;

            @media #{$lg} {
                padding-left: 30px;
            }

            @media #{$sm} {
                grid-column: auto;
                padding-left: 0;
            }
        }

        &:nth-child(14) {
            border-right: none;
            padding-right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$lg} {
                border-right: 1px solid #DADADA;

                @media #{$sm} {
                    border-right: none;
                }
            }
        }
    }
}